### MYSQL 중 고급 문법 및 단계

### 다양한 SQL 함수
- 문자열함수
- 
    1. **LENGTH(string)** 
     : 문자의 길이를 반환하는 함수

    2. **UPPER(string)**
    : 대문자로 변환 시켜주는 함수
 
    3. **LOWER(string)**
    : 소문자로 변환 시켜주는 함수
    
    ⇒ LENGTH(LOWER(UPPER(title))) AS special_title 
    이런 문법도 가능!!! 나중에 긴밀하게 씀
    
    4. **CONCAT(string1, string2, …)**
    : 복수의 문자열을 하나로 연결하는 함수 → 주로 성-이름 붙이거나 지역번호 - 전화번호 붙일때 쓰임!
    5. **SUBSTRING(string, start, length)** 
    : 문자열에서 일부 문자열만 추출해주는 함수. start개 부터 시작해서 length 개만큼 찾아와줘!
- 날짜/시간 함수
    6. **CURDATE()**
    : 현재 날짜를 반환하는 함수
    7. **NOW(시간이 들어간 )**
    : 현재 날짜와 시간을 반환하는 함수
    8. **CURTIME()**
    : 현재 시간을 반환하는 함수
    9. **DATE_ADD(date, INTERVAL unit)**
    : 특정 날짜(date)에서 간격(unit)을 추가해주는 함수
    unit 종류: (MONTH / DAT / HOUR / SECOND / MINUTE)
    10.  **DATE_SUB(date, INTERVAL unit)**
    : 특정 날짜에서 간격을 빼주는 함수
    unit 종류 : (MONTH / DAT / HOUR / SECOND / MINUTE)
    11. **EXTRACT(추출해오고자 하는 값 = field FROM 추출해오고자 하는 대상 = source)**
    : 특정 날짜의 특정 값을 추출하는 방법
    field 값 (YEAR, MONTH ,DAY 
    12. **YEAR(), MONTH(), DAY(), HOUR(), MINUTE(), SECOND()** 
    : 요즘 쓰이는 문법
    13. **DAYOFWEEK()**
    : 특정 날짜의 요일을 반환 → 1요일 = 일요일 ~ 7요일 = 토요일
    14. **DATE_FORMAT( , "%w”)**
    [https://www.notion.so/25-08-08-24943afc76c680d58573f9c91b4d0b74?source=copy_link#24943afc76c68044ba0be4046b1c5d28](https://www.notion.so/25-08-08-24943afc76c680d58573f9c91b4d0b74?pvs=21)
    : 넣어주려고하는 값은 ‘형식지정자’인 "%w”에들어감 
    "%a” → abbreviation축약형, 축약하다
    "%Y” → 4자리 연도 (1996)
    "%y” → 마지막 연도 마지막 두자리(96)
    "%M” → 영문 월 (June)
    "%m” → 월을 두자리 숫자로 표기 (06)
    "%c” → 월을 한자리 숫자로 표기 (6) 
    "%D” → 일을 숫자 + 영문 접미사로 표기 1th 28th
    "%d” →  일을 두자리 숫자로 표기 1 28
    "%H” → 시간을 24 시간 형식의 두자리로 표기 05 18 22
    "%h” →시간을 12시간 형식의 두자리로 표기 05 06 10
    "%I” → 
    "%i” →  
    15. **TIMESTAMPDIFF(unit, start_datetime, end_datetime)**
    : 두 날짜 혹은 시간 값의 차이를 계산할 때 쓰이는 함수  
    unit 종류 : (MONTH / DAT / HOUR / SECOND / MINUTE)
    16. **ABS(number)**
    : Absolute 절대값을 추출! 음수값이 나오면 양수로 추출
    17. **CEIL(number)**
    : 값을 올림처리 
    18. **FLOOR(number)**
    : 값을 버림처리
    19. **ROUND(number name, N)**
    : 반올림 처리, 몇번째 자리인지 결정 可
    ROUND(숫자A, 숫자B) - 숫자 B가 최종적인 반올림의 결과값이 되도록 한다!
        
        ![image.png](attachment:100f21fb-5522-4b2e-88df-123f68e33504:image.png)
        
    20. **SQRT()**
    : SQurl RooT 해당 숫자의 제곱근을 반환하는 함수
    
### SubQuery 고급활용
- ”**SQL 22 중고급 SubQuery 고급활용.SQL”
  
- SQL 쿼리문안에 또다른 SQL 쿼리문이 존재하는 것
  
- 기본적으로 서브쿼리는 최근 문법인 JOIN ON 이라는 문법으로 대체 가능

  
- 하지만 여전히 서브쿼리를 메인문법으로 사용하는 조직 존재함.

  
- SO, 과거 문법이라도 충분히 인지해야하는 경우가 빈번하게 발생하기 때문에 학습 必
    1. 서브쿼리는 특정 테이블의 필드 값을 어떤 조건하에 다른 테이블과 연결하여 값을 찾아와야하는 경우에 굉장히 많이 사용됨.
    2. 서브쿼리를 FROM 절에서 사용할 때에는 반드시 AS 구문을 사용해야함
    3. 상관서브쿼리 : 기존 서브쿼리와 달리, 데이터를 참조하고자 하는 테이블이 동일한 경우, 해당 테이블을 사용하는 위치에 따라 상위에서 관리되고 있는 테이블을 참조할 수도 있는데, 이 상황을 상관성 쿼리라고 부름.
        
### 집합 연산자
- 합집합
: 서로 다른 집합을 하나로 합쳐서 사용. → 데이터에서는 서로다른 테이블을 하나로 합쳐서 사용

    1. **UNION** 
    : 서로 다른 테이블을 하나로 결합할때, 중복된 행은 제거하고 합함.

    3. **UNION ALL**
    :서로 다른 테이블을 하나로 결합할때, 중복된 행까지 포함해서 합함.
 
- 교집합
: 서로 다른 집합의 공통 집합을 추출할 때 사용함. → **INTERSECTION :** 서로다른 테이블의 공통부분만 추출할때 사용

- 차집합
: 서로 다른 테이블을 놓고 결합할때,어느 한쪽 영역에만 속해있는 부분만 가져올때, 공통분모를 제외한 나머지 → **EXCEPT** : 서로 다른 테이블 결합시, 어느 한쪽의 데이터만 찾아오고 싶을때. (OUTTER JOIN이랑 비슷함.)

### Trnasaction / COMMIT / ROLLBACK

- 이미 만들어져 있는 DB안에 TABLE이 존재, 해당 테이블 안에 값을 수정하고 싶음. WHERE 조건으로 수정하는 것을 깜빡했을때 ! → Trnasaction 이 있으면 COMMIT에서 날리지 않는다면 다시 돌이킬 수 있음!
  
- **START TRANSACTION;**  → 해당 명령어가 존재한다면, 데이터 수정 후 돌아갈 수 있는 환경을 세팅

- **ROLLBACK;** → START TRANSACTION;이 존재한다는 전제하에, 데이터 편집 전 단계로 돌려주는 명령어

- **COMMIT;** → 해당 명령어를 입력 및 실행하는 순간, 더 이상 임시 저장 공간에 있던 데이터를 실제 데이터에 적용! (☠️ COMMIT 이후에는 ROLLBACK기능이 적용될 수 없음!)
  
### VIEW

- VIEW는 실제테이블을 기반으로한 “가상 테이블”을 생성하고자할 때 사용할 수 있는 명령어
  
- VIEW를 사용하면 복잡한 쿼리문을 단순화 가능! -> 한눈에 보기 편안하게 만들어줌.
  
- 찾고자하는 원문데이터를 먼저 쓰고, 위에 내가 가상테이블을 생성하는 순서가 좋음.
  
- <CREATE VIEW 임시가상테이블명 AS 실제데이터> → **가상테이블 생성**

- 만약, 동일한 이름으로 가상 테이블이 이미 존재하는 경우, 추가로 생성하고자할 떄는 에러가 발생!!

- <CREATE OR REPLACE VIEW 임시가상테이블명 AS 실제데이터> → **신규생성 또는 덮어쓰기**

- 가상테이블은 우리컴퓨터의 램 메모리를 가져다씀.. 남발하면 안좋다!

- <DROP VIEW 임시가상테이블명;> → **가상테이블 삭제**

- 원본데이터 값 변경 → 원본데이터의 값이 바뀌면 가상테이블의 값도 같이 바뀜!!! = 가상테이블 바꾸면 원본데이터도!(위험..)


### WITH

- VIEW와 마찬가지로 가상테이블을 생성할 때 쓸 수있는 명령어!

- VIEW와 차이점 → WITH절은 구문을 실행하는 동안에만 작동, 메모리 공간에서 제거가 됨. 따라서, 값을 나중에 찾아올 수는 없음.

- <WITH FilmInventory AS (
SELECT film_id FROM inventory
) → 소괄호하는 이유 : 우선연산을 해서 임시로 만들어야하기 때문에!
  
- 조건에 맞는 데이터를 가져와서 후속작업이 필요할때 with를 사용하는 것이 유리!

- VIEW의 경우에는 어떤 row 데이터(원본 데이터)를 가지고 있는 테이블이 존재할때, 해당 테이블에서 주로 자주사용하는 데이터와 거의 사용하지 않는 데이터가 공존하는 경우. 굳이 해당 테이블을 가져올 때마다 자주사용하는 데이터만 추출해서 가져오는 것이 비효율적인 경우에 사용!

- WITH의 경우에는 서로다른 복수의 테이블 간 교차하는 컬럼 데이터를 기준으로 값을 찾아와야하는 경우에 임시로 복수의 테이블에 필요한 데이터만 가지고 있는 테이블을 생성해놓으면 복잡한 구문이 상대적으로 간소화 될 수 있고 코드의 가독성도 좋아짐!

### CASE WHEN

- 프로그래밍 언어에서 자주 사용되는 IF ELSE문(-하는 경우에 -해라) 절과 매우 비슷

- 어떤 조건에 따라서 출력을 다르게 하고자할때 많이 사용됨!

- <CASE 
    WHEN 조건 1 THEN 결과1
    WHEN 조건 2 THEN 결과2
    ELSE 최종 결과
END> AS CASEWITH별칭
→ CASE WHEN 절의 **기본 구문**

### GROUP_CONCAT()

- MYSQL 에서 제공하는 문자열 집계 함수로, 그룹 내의 여러 행을 하나의 문자열로 결합하는 역할

- GROUP_CONCAT(연산표현식)

- GROUP_CONCAT(연산표현식 SEPERATOR 구분자문자열;)

- 구분자문자열 쓰지않은경우

- 기본 구분자 값 ⇒ , (쉼표)

- 한개의 행 안에 여러개의 컬럼을 나눠서 출력하고 싶을 떄 사용하는 함수

- 현테이블에 존재하지 않은 다른 테이블에 있는 데이터를 하나의 행에 묶어놓고 싶을때 사용!